body, html {
    overflow: hidden;
}

#inputText {
    width: 100%;
    height: 35vh;
    border-color: black;
}

#resultText {
    margin-top: 50px;
    overflow: auto;
    height: 35vh;
}

#copyBtn {
    margin-top: 20px;
}


#githubBtn {
    text-decoration: none;
    float: right;
    color: black;
}